/* Login View */
.body-login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.authfailure {
    width: 98%;
    padding: 1%;
    background-color: #f2dede;
    text-align: center;
    margin-top: 15px;
    display: none;
}

.msg {
    background-color: #dff0d8;
    padding: 1%;
    width: 98%;
    text-align: center;
}

/* Layout View */

.body-layout{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #333333;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}



.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Custom Styles */

#video-wrapper {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: black;
    margin-bottom: 30px;
}


.sidebar-nav {
    left: -20px;
    padding: 9px 0;
    position: relative;
    top: -28px;
    background-color: black;
    border: 1px solid #333;
}


.nav-header {
    color: white;
    display: block;
    font-size: 1.1em !important;
    font-weight: normal;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 15px;
}

.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: none;
}


.nav-list > li > a {
    padding: 15px !important ;
    text-decoration: none;
    color: #808080;
}

.nav-list > li {
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.25) inset;
      line-height: 20px;
  }

.nav-list > li:hover {
    background-color: #000000!important;
    font-weight: bold;
}

.nav {
    background-color: #000000 !important;

}


.online {
    background-color: #00B700;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.25) inset;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 15px;
}

.isActive a{
    color: #00B700 !important;
    font-weight: bold;
}

.btn-center {
    margin-left: 38%;
}
.control-box {
    padding-right: 45%;
}

.btn-inverse {
    background-color: #000000 !important;
    background-image: linear-gradient(to bottom, #000000, #111111)!important;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.control-box{
    margin-left: 30px;
}

.msg-item {
    color: white;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
}
.msg-body{
    padding-left: 20px;
}

.msg-list {
    max-height: 250px;
    overflow-y: auto;
}