<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TelePresence Robot Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="image/png" href="./images/favicon.png" rel="shortcut icon"/>
    <!-- Le styles -->
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="https://static.vline.com/vline.js" type="text/javascript"></script>
    <script src="/javascripts/vline-connection.js" type="text/javascript"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js"></script>
    <![endif]-->
</head>

<body class="body-layout">
<script>
/** vLine connection variables */
authToken = '<%= jwt %>',
            serviceId = '<%= serviceId %>',
            profile = {"displayName": '<%= ses.user.name %>', "id": '<%= ses.user.id %>'};
vlineClient = makeClient(authToken, serviceId, profile);
</script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">TelePresence Robot Client</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    | <a href="/logout">&nbsp;<i class="icon-share-alt icon-white"></i></a>
                </p>

                <p class="navbar-text pull-right">
                    <i class="icon-user icon-white"></i>&nbsp;<span class="text-success"><%= ses.user.name %></span>&nbsp;
                </p>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <!--/.well -->
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Registered Users</li>
                    <% for(var i=0; i < users.length; i++){ %>
                    <li class="callbutton" data-userid="<%= users[i].id %>"><div class="presence"></div><a href="#"><%= users[i].name %></a></li>
                    <% } %>
                </ul>
            </div>
            <div class="control-box row">
                <div class="span12 move-box">
                    <div class="btn btn-inverse btn-center" data-action="up"><i class="icon-chevron-up icon-white"></i></div>
                    <div>
                        <div class="btn btn-up btn-inverse pull-left" data-action="left"><i class="icon-chevron-left icon-white"></i></div>
                        <div class="btn btn-up btn-inverse pull-right" data-action="right"><i class="icon-chevron-right icon-white"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="btn btn-up btn-inverse btn-center" data-action="down"><i class="icon-chevron-down icon-white"></i></div>
                </div>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="row-fluid">
                <div id="video-wrapper" class="span12">&nbsp;</div>
            </div>
            <div id="msgBox" class="row-fluid">
                <input id="msg" name="msg" class="span9 input-large">
                <a id="sendMsg" class="btn btn-info btn-inverse"><i class="icon-comment icon-white"></i>&nbsp;send</a>
            </div>
            <div class="row-fluid">
                <ul class="span9 msg-list"></ul>
            </div>
        </div>
    </div>
      <footer>
        <p>&copy; UPC 2013</p>
      </footer>
</div>
<!--/.fluid-container-->

<!-- jUART serial communication ------------------------------------------->

<object id="plugin0" type="application/x-juart" width="0" height="0" >
            <param name="onload" value="pluginLoaded"  />
        </object>
<!-- /jUART ------------------------------------------->

</body>
</html>
